@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dark mode styles */
:root {
  --background: #000000; /* Dark background */
  --foreground: #ededed; /* Light text color for contrast */
  --font-space-mono: "Space Mono", monospace;
}

.font-space-mono {
  font-family: var(--font-space-mono);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-text {
  background: linear-gradient(
    120deg,
    #8a2be2 20%,
    #00ff6a 40%,
    #00c6ff 60%,
    #ff4ecd 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
